# Parsing and Collecting data from the given XML files

### Importing Required Modules:

In [1]:
import elementpath
from xml.etree import ElementTree as et
import pandas as pd
import json

### Collecting Data for small Files : Tags.xml and User.xml

### Tags.xml -

In [2]:
xtree = et.parse("./data/Tags.xml")

In [3]:
xroot = xtree.getroot()

#### XML to Dataframe:

In [3]:
## Function used to parse through small files using xml:

def parse_xml(xml_file,df_cols):
    
    xtree = et.parse(xml_file)
    xroot = xtree.getroot()
    print("yes")
    rows = []
    
    for node in xroot: 
        res = []
        res.append(node.attrib.get(df_cols[0]))
        try:
            for el in df_cols[1:]: 
                if node is not None and node.attrib.get(el) is not None:
                    res.append(node.attrib.get(el))
                else: 
                    res.append(None)
            rows.append({df_cols[i]: res[i] 
                         for i, _ in enumerate(df_cols)})
        except Error as e:
            print(e)
            continue
        
    
    out_df = pd.DataFrame(rows, columns=df_cols)
        
    return out_df

In [42]:
df = parse_xml("./data/Tags.xml", ["Id", "TagName", "Count", "ExcerptPostId","WikiPostId"])

In [43]:
display(df)

           Id                   TagName    Count ExcerptPostId WikiPostId
0           1                      .net   293379       3624959    3607476
1           2                      html   970699       3673183    3673182
2           3                javascript  1955557       3624960    3607052
3           4                       css   649436       3644670    3644669
4           5                       php  1335050       3624936    3607050
...       ...                       ...      ...           ...        ...
57459  143155                 next-jdbc        1          None       None
57460  143156  android-jetpack-security        1      60470204   60470203
57461  143157            android-kotlin        0          None       None
57462  143158    swashbuckle.aspnetcore        1          None       None
57463  143159                  pointdns        1          None       None

[57464 rows x 5 columns]

### Converting to Tags.json (will pass this into local mongodb using mongo import)

In [45]:
out = df.to_json(orient='records')[1:-1].replace('},{', '}\n {')
with open('./data/Tags.json', 'w') as f:
    f.write(out)

#### Testing:

In [47]:
df2 = pd.read_json("./data/Tags.json",lines = True)

In [48]:
display(df2)

           Id                   TagName    Count  ExcerptPostId  WikiPostId
0           1                      .net   293379      3624959.0   3607476.0
1           2                      html   970699      3673183.0   3673182.0
2           3                javascript  1955557      3624960.0   3607052.0
3           4                       css   649436      3644670.0   3644669.0
4           5                       php  1335050      3624936.0   3607050.0
...       ...                       ...      ...            ...         ...
57459  143155                 next-jdbc        1            NaN         NaN
57460  143156  android-jetpack-security        1     60470204.0  60470203.0
57461  143157            android-kotlin        0            NaN         NaN
57462  143158    swashbuckle.aspnetcore        1            NaN         NaN
57463  143159                  pointdns        1            NaN         NaN

[57464 rows x 5 columns]

### Users.xml -

In [49]:
xtree = et.parse("./data/Users.xml")
xroot = xtree.getroot()

#### Using the above created Function(parse_xml) to get dataframe

In [52]:
df = parse_xml("./data/Users.xml", ["Id", "Reputation", "CreationDate", "DisplayName","LastAccessDate","WebsiteUrl","Location",
                                    "AboutMe", "Views","UpVotes","DownVotes","AccountId"
                                   ])

In [53]:
display(df)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId
0,1,58679,2008-07-31T14:22:31.287,Jeff Atwood,2020-02-26T23:04:34.223,http://www.codinghorror.com/blog/,"El Cerrito, CA","<p><a href=""http://www.codinghorror.com/blog/a...",532726,3378,1311,1
1,4,31720,2008-07-31T14:22:31.317,Joel Spolsky,2020-02-29T18:22:56.427,https://joelonsoftware.com/,"New York, NY","<p>In 2000 I co-founded Fog Creek Software, wh...",77635,814,96,4
2,13,194621,2008-08-01T04:18:04.943,Chris Jester-Young,2019-12-03T01:13:11.627,http://about.cky.nz/,"Raleigh, NC, USA",<p>I use they/them to refer to myself in the t...,39977,5206,210,9
3,17,50531,2008-08-01T12:02:21.617,Nick Berardi,2020-02-28T14:38:17.133,http://nickberardi.com,"Issaquah, WA",<p>In my spare time when not working as a soft...,5155,885,216,12
4,25,31334,2008-08-01T12:15:23.243,CodingWithoutComments,2018-05-03T20:41:05.130,,"Seattle, Washington United States","<p>a man, a plan, a canal, panama</p>\n",4246,539,83,18
...,...,...,...,...,...,...,...,...,...,...,...,...
670390,12987137,1,2020-03-01T05:55:38.937,jerry jose,2020-03-01T06:10:42.130,None,None,None,2,0,0,17877497
670391,12987222,1,2020-03-01T06:32:35.157,colin creevey,2020-03-01T06:32:35.157,None,None,None,0,0,0,17877616
670392,12987240,1,2020-03-01T06:38:37.043,ZachGutz,2020-03-01T06:54:11.780,None,None,None,0,0,0,17877637
670393,12987253,1,2020-03-01T06:43:50.813,Piyush Sharma,2020-03-01T07:04:40.213,None,None,None,0,0,0,17877657
670394,12987266,1,2020-03-01T06:48:25.807,nonoumasy,2020-03-01T06:48:25.807,None,None,None,0,0,0,17877675

In [54]:
out = df.to_json(orient='records')[1:-1].replace('},{', '}\n {')
with open('./data/Users.json', 'w') as f:
    f.write(out)

In [55]:
df2 = pd.read_json("./data/Tags.json",lines = True)

#### Above function worked fine for small files , however for big files(the other 3) OOM error appeared
#### For the other 3 files used the iter parse method in Element tree

### Function to convert XML to dataframe for large files

In [15]:
def xml2df(file_path,df_cols):
    dict_list = []
    i = 0
    with open(file_path, "rb") as f:
        for _, elem in etree.iterparse(f, events=("end","start")):
            if elem.tag == "row":
                
                res = []
                res.append(elem.attrib.get(df_cols[0]))
                for el in df_cols[1:]: 
                    if elem is not None and elem.attrib.get(el) is not None:
                        res.append(elem.attrib.get(el))
                    else: 
                        res.append(None)
                dict_list.append({df_cols[i]: res[i] 
                        for i, _ in enumerate(df_cols)})
                    
                elem.clear()  
                
    out_df = pd.DataFrame(dict_list, columns=df_cols)
    return out_df

### Posts.xml-

In [16]:
df = xml2df("./data/Posts.xml",["Id","PostTypeId","AcceptedAnswerId","CreationDate","Score","ViewCount","Body","OwnerUserId",
                                    "LastEditorUserId","LastEditDate","LastActivityDate","Title","Tags","AnswerCount",
                                    "CommentCount","FavoriteCount","ClosedDate"
                                   ])

#### Converted Posts dataframe to Posts.csv (Posts.json resulted in kernel dying)

In [ ]:
df.to_csv("Posts.csv")

#### Converting csv to json -

In [ ]:
csvfile = open('./data/Posts.csv')
jsonfile = open('./data/Posts.json')

fieldnames = df.columns

reader = csv.DictReader( csvfile, fieldnames)
for row in reader:
    json.dump(row, jsonfile)
    jsonfile.write('\n')

### Badges.xml:

In [ ]:
df  = xml2df("./data/Badges.xml",["Id","rowId","UserId","Name","Date","Class","TagBased"])
df.to_csv("Badges.csv")

#### Badges.json using Badges.csv

In [1]:
csvfile = open('./data/Badges.csv', 'r')
jsonfile = open('./data/Badges.json', 'w')

fieldnames = ("Id","rowId","UserId","Name","Date","Class","TagBased")
reader = csv.DictReader( csvfile, fieldnames)
for row in reader:
    json.dump(row, jsonfile)
    jsonfile.write('\n')

### Votes.xml:

In [ ]:
df = xml2df("./Votes.xml",["Id" , "PostId" , "VoteTypeId" , "CreationDate"])
df.to_csv("Votes.csv")

#### Votes.json using Votes.csv

In [2]:
csvfile = open('./data/Votes.csv', 'r')
jsonfile = open('./data/Votes.json', 'w')

fieldnames = ("_id","Id","PostId","VoteTypeID","CreationDate")

reader = csv.DictReader( csvfile, fieldnames)
for row in reader:
    json.dump(row, jsonfile)
    jsonfile.write('\n')

NOTE : After Collecting all the json files(Badges.json,Tags.json,Users.json,Votes.json and Posts.json) imported it into mongodb database (called precog) stored locally on my system using command line.

Command used :

mongoimport --db <database name> --collection <collection name>  --file <json file name> --batchsize 1